.vscode

**/Week_01/Module_1/*.exe
**/Week_01/Module_2/*.exe
**/Week_01/Module_2.5/*.exe
**/Week_01/Module_2.5/tempCodeRunnerFile.c
**/Week_01/Module_3/*.exe
**/Week_01/Module_3.5/*.exe

**/Week_02/Module_5/*.exe
**/Week_02/Module_5/tempCodeRunnerFile.c
**/Week_02/Module_6/*.exe
**/Week_02/Module_6.5/*.exe